@import url(https://fonts.googleapis.com/css?family=Montserrat);

.App {
  text-align: center;
  margin-top: 6vh;
}

html {
  background-color: black;
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.donate {
  position: fixed;
  bottom: 0;
  right: 0;
}

.github-link {
  position: fixed;
  bottom: 5px;
  left: 5px;
  color: gray;
}
